html,body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff;
}
:root{
    --clr-jaune:#ffcd00;
}
#imgDeFond{
    display: flex;
    align-items: center;
    margin:auto;
    border-radius: 20px;
}

#menu{
    text-decoration: none;
    margin-left: 25%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    
}

body{
    font-size: 9.em;
    font: weight 400px;
    line-height: 1.6;
    color: black;
}

header{
    display:block;
}

.page_nav{
    display:block;
}


ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav{
    width:auto;
    align-items:flex-end;
    text-decoration: none;
    padding-right: 20%;
    
}

li{
    font-size: 1000;
    font-weight:bolder;
}

a{
    color:black;
}

button{
    display: inline-block;
    background-color: var(--clr-jaune);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder ;
    text-decoration: none;
}

.miniJeu:hover .jeu{
    display: flex;
    flex-direction: column;
   
}

.jeu{
    display:none;
    
}

